<!--
layout.html

Master layout template using Jinja inheritance.
Defines global page structure including nav, stylesheets, and content blocks.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}QR Generator{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Home Page</a>
    <!-- a class="navbar-brand" href="{{ url_for('main.about') }}">About</a> -->  
    <!-- a class="navbar-brand" href="{{ url_for('main.Products') }}">Products</a> -->
    <!-- Add other nav links here -->
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
